
h1, h2, h3, h4, span, p {
  margin: 0;
  padding: 0
}

.App {
  max-width: 1000px;
  padding: 0 10px;
  margin: 50px auto;
}

.main {
  display: flex
}


.error {
  color: red;
}

.button {
  background-color: #0AA6E0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 6px;
  border: 3px solid transparent;
}

.button:hover:not(:disabled) {
  color: #0AA6E0;
  background-color: white;
  cursor: pointer;
}

.button:active {
  border: 3px solid #0AA6E0;
}

.button:disabled {
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}