
h1, h2, h3, h4, span, p {
  margin: 0;
  padding: 0
}

.App {
  max-width: 1000px;
  padding: 0 10px;
  margin: 50px auto;
}

.main {
  display: flex
}

.picks-container {
  flex: 2;
  margin-right: 20px;
}

.bet-slip-container {
  flex: 1
}
